!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.iml
*.ipa
*.jsbundle
*.keystore
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
*/fastlane/Preview.html
*/fastlane/report.xml
*/fastlane/screenshots
.DS_Store
.expo/*
.gradle
.idea
/ios/Pods/
DerivedData
\.buckd/
buck-out/
build/
local.properties
node_modules/
npm-debug.log
project.xcworkspace
xcuserdata
yarn-error.log
